#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.7);
}
#loader > span {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
}
